.area {
 fill: green;
}
path {
  pointer-events:all;
}

path:hover {
  fill: red;
  stroke: blue;
}


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}